@media (max-width:767px){

    .center{
        padding-left: 16px;
        padding-right: 16px;
    }

.header__box{
height: 700px};

    .main-page{
        display: none;
    }

    .header__star{
        width: 35px;
        height: 35px;
    }

    .header__starmini{
        width: 21px;
        position: absolute;
        height: 21px;
        top: -9%;
        left: 52%;
    }

    .group-stars{
        display: none;
    }

    .header__heading{
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 49px;
width: 262px;
    }

.main-box__undertext{
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 21px;
width: 296px;
}

.header__button{
    width: 225px;
    font-size: 16px;
    line-height: 23px;
    margin-top: 8px;
    margin-left: 5px;
}




.header__box-scroll svg{
    width: 21px;
    height: 21px;
}

.header__box-scroll{
    top: 649px;
    height: 51px;
    display: flex;
    flex-direction: row;

}

.header__box-scroll li{
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 110%;
letter-spacing: 0.64px;
text-transform: uppercase;
color: black;
height: 51px;
padding-left:12px ;
padding-top: 15px;
margin-right: 6px;

}

.star{
    margin-left: 26px;
    margin-right: 0px;
}

.mini-games__heading{
    padding-top: 48px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    margin-left: 16px;
}


.main  {
    background: black;

}

.header__star{
    position: relative;
    right: 30%;
    bottom: 8px;
    
}

.header__big-upline,
.header__big-midline,
.header__big-dline,
.header__big-tri,
.header__big-line,
.header__bigstar{
    display: none;
}

.header__big-lines{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__big-smallstar svg{
    width: 18px;
    height: 18px;
    position: relative;
    left: 144%;

}

.header__big-smallstar{
    position: absolute;
 
    top: 62.5%;
}


.header__big-star svg{
   width: 39px;
   height: 41px;
  
}
.header__big-star{
    position: absolute;
    left: 80%;
        top: 65%;
    
}

.header__mob{
    display: block;
    position: absolute;
}


.header__info {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 147px;
    padding-left: 10%;
}

.mini-games__cards{
    align-items: center;
    margin-bottom: 48px;
    padding-top: 48px;
    gap: 24px;
}
.game-card{
    display: flex;
    column-gap: 32px;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 343px;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    
}

.game-card img{
    border-radius: 30px;
    width: 343px;
}

.main-games__info{
    justify-content: center;
    padding: 29px 29px 32px 29px ;
    gap: 16px;
}

.main-games__text{
font-size: 32px;
line-height: 39px;
}
.main-games__under-text{
    width: 246px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.text-mob,
.text-vicmob{
    width: 280px;
}

.text-lastmob{
    width: 245px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}


.header__games-button{
display: flex;
width: 285px;
gap: 10px;
text-align: center;
font-size: 16px;
font-style: normal;
line-height: 23px; 
margin-top: 14px;

&:hover{
    background: black;
    color: white;
    cursor: pointer;
}
}



.fill{
height: 100px;
font-size: 16px;
font-weight: 600;
line-height: 20px;
}

}















